extends ../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  .container
    .row
      .swiper-container
        .swiper-wrapper
          .swiper-slide slider1
          .swiper-slide slider2
          .swiper-slide slider3

block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
