doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/webpack/css/main.css')
  body
    block content 
    script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src='/webpack/js/main.js')
    block script