extends layout

block content
  .container
    h2 1.1计算机基本组成
    p 1 一个完整的计算机系统由：控制器、运算器、存储器、输入设备和输出设备5部分组成。
    p 2 运算器和控制器合称为中央处理器。内存储器和中央处理器合称为主机。
    p 3 控制器包括：指令寄存器、指令译码器、时序控制。
    h3 1.1.1中央处理器
    p 1 运算器通常由算术运算部件(alu)和一些寄存器组成。
    p 2 累加器除了存放参加运算的操作数外，在连续运算中，还用于存放中间结果和最终结果。
    p 3 为了使计算机能够正确执行指令，cpu必须能够按正确的时序产生操作控制信号，这是控制器的只要任务。
    p 4 控制器组成：程序计数器（pc）;指令寄存器（ir）；指令译码器；脉冲源及启停控制线路；时序信号产生部件；操作控制信号形成部件；中断机构；总线控制逻辑。
    h3 1.1.2存储器
    p 1 按存储器在计算机中的功能分类：高速缓冲存储器cache，由双极型半导体；主存储器，由mos半导体存储器构成；辅助存储器，又称为外存储器。
    h3 1.1.3 常用i/o设备
    p 1 按信息的传输方向来分可分为：输入、输出与输入输出设备。
    p 2 输入设备：键盘、鼠标、光标、触摸屏、跟踪球、控制杆、数字化仪、语言输入、手写汉字识别、光学字符阅读机（ock）
    p 分为两类：媒体输入设备和交互式输入设备。媒体输入设备：纸带输入机、卡片输入机、光学字符阅读机；交互式输入设备：键盘、鼠标、触屏、光屏、跟踪球。
    p 3 输出设备：显示器、打印机、绘图仪、语言输出设备、卡片穿孔机、纸带穿孔机、数模转换设备。
    p 4 输入输出设备：磁盘机、磁带、可读写光盘、crt显示器、通信设备。
    p 5 输入输出设备按功能分为三类：用于人机接口、用于存储信息、机-机联系。
    p 6 键盘：按键开关可以分为两类：触点式、非触点式。
    p 7 键盘控制器的构成方式不同、可分为编码键盘和非编码键盘两类。
    p 8 根据鼠标器所采用的传感技术的不同，鼠标器可分为两类：机械式与光电式。
    p 9 鼠标与主机相连有两种方式：总线接口和通信接口。
    p 10 目前大部分计算机吧鼠标接在串行通信口：com1和com2上。
    p 11 打印机以印字原理可分为：击打式打印机和非击打式打印机；以输出方式可分为串行打印机和并行打印机。
    p 12 击打式打印机按字锤或字模的构成方式来分，可分为整字形击打印设备（按字模载体的形态分为：球形、菊花瓣行、轮式、鼓式）和点阵打印设备两类。
    p 13 非击打式打印机类型：激光印字机、喷墨打印机、热敏打印机。
    p 14 显示器由监视器和显示控制器组成。监视器由阴极射线管（crt）、亮度控制电路（控制栅）、扫描偏转电路（水平、垂直扫描偏转线圈）组成。
    p 15 为保证屏幕上显示的图像不产生闪烁，图像必须以50帧/秒至70帧/秒的速度进行刷新。
    p 16 计算题举例：如当分辨率为640x480，帧频为50帧/秒，且水平回扫期和垂直回扫期各占水平扫描周期和垂直扫描周期的20%，则
    p 行频=480线/80%x50帧/s=30khz
    p 水平扫描周期=1/30khz=33μs
    p 每一像素读出的时间=33μsx80%、640线=40-50ns
    p 若分辨率为1024x768，帧频为60帧/秒，则行频提到到57.6khz，水平扫描周期（hc）为17.4μs，每像素读出时间减少到13.6ns。
    p 分辨率要求越高，为保证图像不闪烁，则时间要求越高（每一像素读出显示的时间越短）。
    p 光栅扫描显示器的扫描方式还可以分成逐行扫描和隔行扫描方式两种。
    h2 1.2计算机的系统结构
    h3 1.2.1并行处理的概念
    p 1 并行性包括同时性和并发性两种含义。
    p 2 计算机中提高并行性的措施：时间重叠（时间并行技术）；资源重复（空间并行技术）；资源共享（一种软件方法）。
    p 3 指令流：计算机执行的指令序列；数据流：指令流调用的数据序列；多重性：计算机同时可处理的指令或数据的个数。
    p 4 （s-single、单一的，i-instruction、指令，m-multiple、多倍的，d-data、数据）根据指令流和数据流的多重性，可以把计算机分为4类：单指令流单数据流（sisd）单指令流多数据流（simd）多指令流单数据流（misd）多指令流多数据流（mimd）。
    h3 1.2.2 流水线出来机系统
    p 若假定途中去指令、分析指令、执行指令的时间相同，均为t，则完成n条指令的时间t分别为t=3nt；t=(n+2)t
    h3 1.2.3 并行处理机系统
    p 1 并行处理机也称为阵列式计算机，是操作并行的smid计算机，采用资源重复的措施开发并行性。并行处理机通常由一个控制器cu，n个chul单元pe（包括处理器和存储模块），以及一个互联网络部件in组成。
    p 2 并行处理机的主要特点：以单指令流多数据流方式工作；采用资源重复方法引用空间因素；是以某一类算法为背景的专业计算机；并行处理机的研究必须与并行算法的研究密切结合；处理单元结构相同是同构型并行机，同时是异构型多处理机系统。
    h3 1.2.4 多处理机系统
    p 1 多处理机属于mimd计算机。和simd计算机的区别：多处理机实现任务或作业一级的并行，而并行处理机只实现指令一级的并行。
    p 2 多处理机的特点：结构灵活性、程序并行性、并行任务派生、进程同步、资源分配和进程调度。
    h3 1.2.5 cisc/risc指令系统
    p risc与cisc比较，指令系统的主要特点：指令数目少；指令长度固定、指令格式种类少、寻址方式种类少；大多数指令可在一个机器周期内完成；通用寄存器数量多。
    h2 1.3 计算机存储系统
    h3 1.3.3 主存储器
    p 1 半导体读写存储器简称rwm，习惯上称为ram，按工艺不同可分为：双极型ram和mos型ram。
    p 2 静态mos存储芯片由：存储体、读写电路、地址译码、控制电路（存储体、地址译码器、驱动器、i/o控制、片选控制、读/写控制）组成。
    p 3 存储器主要技术指标：存储容量、存取速度、可靠性。
    p 4 存储器的速度可用访问时间、存储周期和频宽来描述。
    p tm（存储周期）>ta（读出时间），tm>tw（写入时间）。
    h3 1.3.4 高速缓冲存储器
    p 1 访问高速缓冲存储器的时间一般为访问主存时间的1/4-1/10.
    h3 1.3.5 辅助存储器
    p 1 常用的辅助存储器包括：磁带、磁盘、光盘。
    p 2 磁表面存储器的存储原理：磁层由非矩形剩磁特性的导磁材料（氧化铁、镍钴合计）构成；磁层材料的剩磁要大（读出信息大），矫顽力hc要合适，才有足够的抗干扰能力和使用较小写电流，磁层厚度要薄，才能提高记录密度。
    p 3 磁头有高导磁率的软磁材料（如坡莫合金和具有高频特性的帖氧体）做铁心，在铁心上开有缝隙并饶有线圈。
    p 4 在磁表面存储器中一般都是磁头固定。
    p 5 磁盘存储器由磁记录介质、磁盘存储器、磁盘控制器3部分组成；磁盘控制器包括控制逻辑、时序电路、“并-串”转换和“串-并”转换电路；磁盘驱动器包括：读写电路、读写转换开关、读写磁头和磁头定位伺服系统。
    p 6 按读写类型，光盘可分为：之都型、一次性写入型和可重写型。
    h2 1.4 计算机应用领域
    p 1 计算机应用领域包括：（1）科学技术；（2）信息管理；（3）计算机图形学与多媒体技术；（4）语言与文字的处理；（5）人工智能。
block style

block script
  script(src="/js/mytest.js")
