.swiper-container {
  min-height: 300px;
}
.swiper-container .swiper-slide {
  color: #fff;
  font-size: 24px;
  line-height: 300px;
  text-align: center;
}
.swiper-container .swiper-slide:nth-child(1n) {
  background-color: #4390EE;
}
.swiper-container .swiper-slide:nth-child(2n) {
  background-color: #CA4040;
}
.swiper-container .swiper-slide:nth-child(3n) {
  background-color: #FF8604;
}
.swiper-container.no-bg .swiper-slide {
  background-color: inherit;
}
.swiper-container.no-bg.virtual .swiper-slide {
  opacity: 0;
  transition: all .3s;
}
.swiper-container.no-bg.virtual .swiper-slide-active{
  color: #000;
  opacity: 1;
}
.swiper-container.no-bg.virtual .swiper-slide:nth-child(2n) {
  left: -100%;
}
.swiper-container.no-bg.virtual .swiper-slide:nth-child(3n) {
  left: -200%;
}
.f-swiper-menu .con-f {
  border: 1px solid #ddd;
}
.f-swiper-menu .con-f > li {
  border-bottom: 1px solid #ddd;
}
.f-swiper-menu .con-f .link-f {
  color: #333;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}
.f-swiper-menu .con-f .link-f:hover {
  background-color: #f2f2f2;
}
.f-swiper-menu .con-s .link-s {
  color: #666;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
.f-swiper-menu .con-s .link-s.active {
  color: #CA4040;
}
.f-swiper-menu .con-s .link-s:hover {
  background-color: #f2f2f2;
}

.no-wrap {
  white-space: nowrap;
}
.break-wrap{
  white-space: normal;
  word-break:break-all;
  word-wrap:break-word;
}
.my-ania {
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}