extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 autoplayDisableOnInteraction
        p 用户操作swiper之后，是否禁止<a href="/swiper/autoplay">autoplay</a>。默认为true:停止。
        p 如果设置为false，用户操作swiper之后自动切换不会停止，每次都会重新启动autoplay。
        p 操作包括触碰，拖动，点击pagination等。
        h4 autoplayDisableOnInteration参数
        p 类型：<span class="label label-info">boolean</span> 默认：<span class="label label-info">true</span> 举例：<span class="label label-info">false</span> 启用版本：<span class="label label-info">3.0.0</span>
        h4 效果演示
        .desc
          .swiper-container#e1
            .swiper-wrapper
              .swiper-slide slider1
              .swiper-slide slider2
              .swiper-slide slider3
          p
            span.label.label-danger true
          .swiper-container#e2
            .swiper-wrapper
              .swiper-slide slider1
              .swiper-slide slider2
              .swiper-slide slider3
          p
            span.label.label-danger false
block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        autoplay: 5000,
        autoplayDisableOnInteraction: true
      })
      var e2 = new Swiper('#e2', {
        autoplay: 5000,
        autoplayDisableOnInteraction: false
      })
    })