extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 virtualTranslate
        p 虚拟位移。当你启动这个参数，Swiper除了不会移动外其他的都像平时一样运动，仅仅是不会再Wrapper上设置位移。当你想自定义一些slide切换效果时可以用。
        p 启用这个选项时onSlideChange和onTransition事件失效。
        h4 virtualTranslate参数
        p 类型：<span class="label label-info">boolean</span> 默认：<span class="label label-info">false</span> 举例：<span class="label label-info">true</span> 启用版本：<span class="label label-info">3.0.6</span>
        h4 效果演示
        .desc
          p 我们只是在活动块的文字上加了点动画，slide并没有移动。
          .swiper-container.no-bg.virtual#e1
            .swiper-wrapper
              .swiper-slide slider1
              .swiper-slide slider2
              .swiper-slide slider3
block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        virtualTranslate : true,
      })
    })