extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 passiveListeners
        p 用来提升swiper在移动设备的中的scroll表现（Passive Event Listeners），但是会和e.preventDefault冲突，所以有时候你需要关掉它。

  
        h4 passiveListeners参数
        p 类型：<span class="label label-info">boolean</span> 默认：<span class="label label-info">true</span> 举例：<span class="label label-info">false</span> 启用版本：<span class="label label-info">3.4.0</span>

        h4 效果演示
        .desc
          .swiper-container#e1
            .swiper-wrapper
              .swiper-slide slider1
              .swiper-slide slider2
              .swiper-slide slider3

block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        passiveListeners: false,
      });
    })
