extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 paginationType
        p 分页器样式类型，可选
        p 'bullets' 圆点(默认)
        p 'fraction' 分式
        p 'progress' 进度条
        p 'custom' 自定义

  
        h4 paginationType参数
        p 类型：<span class="label label-info">string</span> 默认：<span class="label label-info">bullets</span> 举例：<span class="label label-info">fraction</span> 启用版本：<span class="label label-info">3.3.0</span>

        h4 效果演示
        .desc
          .swiper-container#e1
            .swiper-wrapper
              .swiper-slide 
                p slider1
              .swiper-slide 
                p slider2
              .swiper-slide 
                p slider3
            .swiper-pagination
          p
            span.label.label-danger bullets
          .swiper-container#e2
            .swiper-wrapper
              .swiper-slide 
                p slider1
              .swiper-slide 
                p slider2
              .swiper-slide 
                p slider3
            .swiper-pagination
          p
            span.label.label-danger fraction
          .swiper-container#e3
            .swiper-wrapper
              .swiper-slide 
                p slider1
              .swiper-slide 
                p slider2
              .swiper-slide 
                p slider3
            .swiper-pagination
          p
            span.label.label-danger progress

block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        pagination: '.swiper-pagination',
        paginationType: 'bullets',
      });
      var e2 = new Swiper('#e2', {
        pagination: '.swiper-pagination',
        paginationType: 'fraction',
      });
      var e3 = new Swiper('#e3', {
        pagination: '.swiper-pagination',
        paginationType: 'progress',
      });
    })
