extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 paginationCustomRender()
        p 自定义特殊类型分页器，当分页器类型设置为自定义时可用。

  
        h4 paginationCustomRender()参数
        p 类型：<span class="label label-info">function</span> 默认：<span class="label label-info">null</span> 启用版本：<span class="label label-info">3.3.0</span>

        h4 效果演示
        .desc
          .swiper-container#e1
            .swiper-wrapper
              .swiper-slide 
                p slider1
              .swiper-slide 
                p slider2
              .swiper-slide 
                p slider3
            .swiper-pagination

block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        pagination: '.swiper-pagination',
        paginationType: 'custom',
        paginationCustomRender: function(swiper, current, total) {
          return current + ' of ' + total;
        }
      });
    })
