extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 preventClicks
        p 当swiper在触摸时阻止默认事件(preventDefault)，用于防止触摸时触发链接跳转。
  
        h4 preventClicks参数
        p 类型：<span class="label label-info">boolean</span> 默认：<span class="label label-info">true</span> 举例：<span class="label label-info">false</span> 启用版本：<span class="label label-info">3.0.0</span>

        h4 效果演示
        .desc
          p 这个列子设为了false，因此触摸时链接跳转了。
          .swiper-container#e1
            .swiper-wrapper
              .swiper-slide 
                a(href="/swiper" target="_blank" style="display: block; height: 300px; width: 100%;") slider1
              .swiper-slide
                a(href="/swiper" target="_blank" style="display: block; height: 300px; width: 100%;") slider2
              .swiper-slide
                a(href="/swiper" target="_blank" style="display: block; height: 300px; width: 100%;") slider3
          p
            span.label.label-danger false

block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        preventClicks  : false,
      });
    })
