extends ../layout

block content
  .container
    h3 总体规划应满足如下要求：
    p (1)要具有指导性、针对性、能够引领和指导企业信息化的发展。
    p (2)内容应包括（但不限于）企业战略和信息化战略说明、现状分析评估、信息化目标任务、信息化架构、信息化重点建设项目、实施路径和保障措施。
    p (3)要依据信息化水平评价体系对信息化规划进行考评，从而实现持续改进。

    h3 规划报告，通常包括如下内容：
    p (1) 现状分析与诊断。现状分析以需求调研的结果为基础，以组织的信息化现状、业务发展为重点，进行业务和信息化现状分析、诊断和梳理。
    p 信息化现状。规划需对信息化建设的现状进行需求调研，如业务应用服务、信息公开和信息服务、业务应用系统建设、信息资源介绍、信息化基础设施、信息安全、运维、管理和技术的标准规范等情况。
    p 业务发展。规划根据收集的企业业务发展相关材料，并组织开展高层访谈和部门业务访谈，明确未来一定时期本单位的总体发展思路、战略目标任务、主要战略措施和关键业务发展。
    p 业务分析。根据本单位的业务战略和业务目标，结合当前业务现状进行分析和总结。
    p 差距分析。根据行业/集团信息化总体要求、企业战略、信息化需求以及业务分析结果，分析信息化存在的主要差距，明确规划和关键内容。
    p (2)组织/企业战略描述。以收集的企业战略、高层访谈结果为基础，系统地分析行业的总体发展趋势、未来的业务模式、企业的战略目标和战略措施，并对信息化建设提出的要求。
    p (3)信息化战略描述。应以企业战略分析和现状分析诊断的结果为依据，分析并明确本企业信息化建设的指导思想、目标任务、基本原则和技术路线等。
    p (4)业务架构。以信息化规划需求调研、现状分析为基础，一般包括方针政策、业务目标、业务组织、业务分类、业务事项、业务流程、业务规划等，采取从上至下的方式，建立本企业业务架构。
    p (5)应用架构。以业务架构为依据，对应用体系的结构和相互关系进行说明。应用架构包括应用现状、应用要素和应用体系设计的描述，为创建一体化的信息系统奠定基础。
    p (6)数据架构。通过分析数据资源现状，系统地梳理关键数据要素，并对数据收集、存储、加工、数据集成交换、数据资源开发利用等进行总体设计。
    p (7)技术架构。通过信息技术现状的分享，对基础设施、应用集成、信息安全等架构进行总体设计
    p (8)治理架构。通过对信息化管理体系的组织机构、权责配置、管理机制、运作流程进行梳理分析，编制IT治理架构。
    p (9)规划实施。确定待建项目以及项目优先级、实施计划、投资预算、保障措施、实施策略等相关内容，并制定分年度的实施计划。

    h3 2 信息系统总体规划内容
    p 总体规划要在总结前一时期所取得的成绩和经验的基础上，客观分析存在的困难和问题，深入研究信息化建设的指导思想、发展思路、目标任务、技术架构，全面梳理行业/集团、企业/公司两个层面的要求和需求。在规划中应处理好以下关系：①是处理好行业/集团规划和企业/公司规划的关系，要在同一技术标准和技术规范下形成一个相互联系的完整体系，做到统筹规划；②是处理好共性和个性的关系，在坚持行业共性的前提下，尊重企业的个性，做到上下兼顾；③是处理好规划制订和执行的关系，加强规划的约束力，维护好规划的权威性、严肃性，做到规划落地。

    h3 企业战略分析需充分考虑如下方面：
    p 行业变革趋势分析。需收集行业/集团发展趋势相关的材料，并运用系统科学的方法，对行业的管控模式、生产方式、协作方式及未来一定时期的分析和梳理。
    p 企业发展战略分析。需收集企业总体发展战略相关材料，组织高层访谈，分析行业发展变革对本单位的影响，并明确企业战略对本单位的业务运营、综合管控和指挥决策所带来的影响。
    p 信息化战略影响分析。需分析行业变革、企业战略对信息化工作的总体影响，包括信息化的战略定位、信息化的基本能力和基本要求等。

    h3 信息化战略分析需充分考虑如下方面：
    p 指导思想。需明确信息化工作的总体指导实现，包括总体思路、所遵循的原则和方法等。
    p 目标任务。需紧扣行业、集团信息化的总体要求、企业战略对信息化的总体要求，制定清晰明确的信息化战略目标。
    p 技术路线。要依据信息技术发展趋势、行业信息化标准规范、企业信息化战略目标，确定企业信息化建设所遵循的技术路线。

    h3 业务架构需充分考虑如下方面：
    p 业务建模。需对当前业务要素进行建模和说明。
    p 业务优化。需对业务建模优化内容及过程进行说明和描述。
    p 业务蓝图。需构建和描绘业务未来发展的架构和蓝图。

    h3 应用架构需要充分考虑如下方面：
    p 应用现状。应对现有应用系统情况进行描述。
    p 应用要素。应包括对服务域、服务类、服务组件的说明。
    p 应用体系设计。应按照信息化建设要求，规划设计主要业务和相关领域的应用系统。

    h3 数据架构需充分考虑如下方面：
    p 数据现状。分析现有数据库及相关关系、数据内容、数据的地理空间分布、数据交换和数据资源开发利用现状。
    p 数据要素。数据要素包括元数据、主数据、数据分类编码、主要交易数据、分析数据等。
    p 数据架构体系设计。主要内容应包括数据资源综合管理体系、数据加工存储体系、数据集成交换体系、数据资源开发利用体系的总体规划设计。

    h3 技术架构需要充分考虑如下方面：
    p 技术现状。对现有信息技术应用现状进行描述。
    p 架构设计。对机房环境、网络通信、计算存储、数据库、中间件、应用集成、信息安全等技术架构进行总体设计，并明确关键的技术要求。

    h3 治理架构需充分考虑如下方面：
    p 治理架构。主要内容应包括（但不限于)IT组织结构治理、IT投资治理、IT项目治理、IT运维治理、IT绩效治理等。
    p 组织机构。应从决策机制、信息化投资管理、项目管理、安全管理、标准规范管理、运维管理等方面，明确机构和权贵的分配。
    p 工作流程。应遵从国际、国家和行业的质量管理体系和标准，制定IT治理所设计的IT规划、IT建设、IT运维和IT监控等领域的流程，并按流程规范执行。
    p 监控机制。应对IT规划实施、IT资产运行、业务连续性和稳定性、IT与业务要求的一致性、资源分配效率、IT服务和业务创新能力等方面进行监控，并持续改进治理架构。

    h3 1.4.1 IT战略的内涵
    p IT战略（IT Strategy, ITS）是在诊断和评估企业信息化现状的基础上，制定和调整企业信息化的指导纲领，争取企业以最合适的规模，最合适的成本，去做最合适的信息化工作。首先是根据本企业的战略需求，明确企业信息化的远景和使命，定义企业信息化的发展方向和企业信息化在实现企业战略过程中应起的作用。其次是起草企业信息化指导纲领。它代表着信息技术部门在管理和实施工作中要遵循的企业条例。是有效完成信息化使命的保证。然后是制定信息化目标。他是企业在未来几年为了实现远景和使命而要完成的各项任务。
    p 通常而言，IT战略规划(IT Strategic Planning)包括两个部分：IT战略(IT Strategy)的制定和信息技术行动计划(IT Action Plan)的制定。前者偏重战略方向，后者具体行动计划。

block style

block script