extends ../layout

block content
  .container
    h3 1 IT战略
    p IT战略（IT Strategy）是企业经营战略的有机组成部分，和财务战略、人力资源战略、运作战略等一样，是公司的职能战略。它是关于企业信息技术职能的目标及其实现的总体谋划。对于大的集团公司而言，子公司或打的业务单元（Business Unit）也会有其相对独立的信息技术战略。
    p IT战略由以下部分组成：
    p (1)使命（Mission）：阐述信息技术存在的理由、目的及在企业中的作用。
    p (2)远景目标（Vision）：信息技术的发展方向和结果。
    p (3)中长期目标（Medium to Long-term Objectives）：远景目标的具体化，即企业未来2~3年信息技术发展的具体目标。
    p (4)策略路线/战略要点（Strategy Point）：实现上述中长期目标的途径或路线。主要围绕信息技术内涵的4个方面展开：及应用（Application）、数据（Data）、技术（Technology）和组织（Organization）。

    h3 2 信息技术行动计划（IT Action Plan）
    p 信息技术行动计划（IT Action Plan）是落实IT战略（IT Strategy）二而制订的中长期的详细行动计划，它包括：
    p 信息化项目进程：未来2~3年信息化项目的投资进程及项目之间的逻辑关系。
    p 项目描述和投资分析：每个项目的具体描述和ROI（投资回报率分享）。
    p 信息化核心能力发展计划：为实现上述信息化进程，企业应用应具备的核心能力及其培养计划，同时也会涉及公司的IT资源策略：如外包策略、自主开发等。

    h3 1.4.2 IT战略的意义
    p 企业信息化过程中的3个重要影响因素：经营战略、业务流程与组织、信息架构，而IT战略是连接3个因素的重要工具和方法。通过IT战略的制定，可以达到以下效果：
    p (1)确保公司IT的投资支持公司的业务流程优化，进而实现公司的经营战略。
    p (2)确保公司投资的各IT系统的信息架构可以整体集成。
    p (3)确保公司整体的信息架构在经营战略的指导下，应对业务流程和组织的变化。
    p (4)避免公司在IT项目上的错误投资和重复投资，保证整体的投资回报。

block style

block script