extends ../layout

block content
  .container
    h3 1.4.3 IT战略规划方法
    p 根据战略规划的一般理论，IT战略规划始于对信息技术内外部环境（现状）的分析，核心是构建IT发展战略（未来状态），终极任务是搞清楚现状与未来状态之间的差距并制定实施策略或解决方案（从现状到未来状态的路径）。
    p 现状分析、战略分析、差距分析和路径分析是IT战略规划的核心组成要素。就企业业务规划与信息技术规划的关联而言，IT战略规划始于对未来企业业务运作理念和目标的理解，这些业务运作理念和目标随后将构成信息技术使命、长远目标、战略和信息技术基础结构的基础，而业务运作理念和目标、信息技术使命、长远目标、战略和信息技术基础结构等都是信息技术战略规划的要素。
    p IT战略规划包括如下几个主要步骤：
    p (1) 业务分析，主要内容是理解业务部门的现在与未来，理解业务部门的政策，定义目标和优先权。
    p (2) 评估现行系统，主要检查当前的信息技术系统和信息技术体系结构，重点是评估信息系统支持业务部门的程度、信息系统计划是否适合业务部门、信息系统供应的效能与效率、指出信息系统能够提供的潜在业务机会。
    p (3) 识别机会，重点是定义通过信息系统改进业务的机会、消除哪些不能够带来投资回报或对业务目标贡献较小的信息系统。
    p (4) 选择方案，主要任务是寻找和确定内在一致的机会和方案

    h2 2.1 软件工程
    p 随着所开发软件的规模越来越大、复杂度越来越高，加之用户需求又并不十分明确，且缺乏软件开发方法和工具方面的有效支持，使得软件成本日益增长、开发进度难以控制、软件质量无法保证、软件维护困难等问题日益突出。人们开始用工程的方法进行软件的开发、管理和维护，即“软件工程”。

block style

block script