extends ../layout/default

block style
  link(rel="stylesheet", href="/mypage/page3/page3.css")

block content
  .untitled
    .untitled__slides
      .untitled__slide
        .untitled__slideBg
        .untitled__slideContent
          span London
          span Scount
          a.button(href="javascript:;") Unsplash Profile
      .untitled__slide
        .untitled__slideBg
        .untitled__slideContent
          span Vladimir
          span Kudinov
          a.button(href="javascript:;") Unsplash Profile
      .untitled__slide
        .untitled__slideBg
        .untitled__slideContent
          span Macio
          span Amorim
          a.button(href="javascript:;") Unsplash Profile
      .untitled__slide
        .untitled__slideBg
        .untitled__slideContent
          span Mario
          span Calvo
          a.button(href="javascript:;") Unsplash Profile
    .untitled__shutters
block script
