extends ../layout/default

block style
  link(rel="stylesheet", href="/mypage/page7/page7.css")
block content
  canvas#c
  .info Click to add gravity point.
block script
  //- script(src="/mypage/page7/page7.js")