extends ../layout/default

block style
  style.
    body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background-color: #03212B;
      padding: 0;
      margin: 0;
    }
  //- link(rel="stylesheet", href="/mypage/page9/page9.css")
block content
  canvas
block script
  script(src="/mypage/page10/page10.js")