extends ../layout/default

block style
  //- link(rel="stylesheet", href="/mypage/page3/page3.css")
  style.
    body {
      overflow: hidden;
      margin: 0;
    }
block content
  canvas
block script
  script(src="/mypage/page4/page4.js")