extends ../layout/default

block style
  link(rel="stylesheet", href="/mypage/page1/main.css")
block content
  .header#header 
    canvas#canvas.canvas(height=600 width=800)
block script
  script(src="/mypage/page1/main.js")