extends ../layout/default

block style
  link(rel="stylesheet", href="/mypage/page9/page9.css")
block content
  h1 IOS Styled Toggle Switch
  label.form-switch
    input(type="checkbox")
    i
    span label text
block script
  //- script(src="/mypage/page9/page9.js")