extends ../../layout

block style
  link(rel='stylesheet/less', href='/lib/swiper/css/swiper.min.css')
  link(rel='stylesheet/less', href='/css/my.swiper.css')
block content
  include ../../component/navbar.pug
  .container
    .row
      .col-md-3
        include ../component/menu.pug
      .col-md-9
        h2 flip
        p 3d翻转有连个参数可设置。
        p 
        p slideShadows: slides的阴影。默认true
        p limitRotation: 限制最大旋转角度为180度。默认ture
  
        h4 flip参数
        p 启用版本：<span class="label label-info">3.3.0</span>

        h4 效果演示
        .desc
          .swiper-container#e1
            .swiper-wrapper
              .swiper-slide slider1
              .swiper-slide slider2
              .swiper-slide slider3
              .swiper-slide slider4
              .swiper-slide slider5
              .swiper-slide slider6
              .swiper-slide slider7
              .swiper-slide slider8
          .swiper-container#e2
            .swiper-wrapper
              .swiper-slide slider1
              .swiper-slide slider2
              .swiper-slide slider3
              .swiper-slide slider4
              .swiper-slide slider5
              .swiper-slide slider6
              .swiper-slide slider7
              .swiper-slide slider8

block script
  script(src="/lib/swiper/js/swiper.jquery.min.js")
  script(src="/js/my.swiper.js")
  script.
    $(function() {
      var e1 = new Swiper('#e1', {
        effect : 'flip',
      });
      var e2 = new Swiper('#e2', {
        effect : 'flip',
        flip: {
          slideShadows: false,
          limitRotation: false
        }
      });
    })
